:local(.main)
  font-family: 'Open Sans', sans-serif
  display: block
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  padding-top: 100px

:local(.wrap)
  width: 800px
  background: rgba(white, .95)
  padding: 1em
  border-radius: .3em
  box-shadow: 0 0 20px rgba(black, .1)
  margin: 0 auto
  margin-bottom: 100px

  .row
    padding: 5px

  .row.sticky
    background: #ffffff
    padding-left: 20px
    padding-right: 20px
    padding-top: 20px
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75)
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75)

  .quiz-options
    display: block
    float: left
    padding: 10px
    border-radius: .3em
    border: solid #eeeeee 1px
    margin-bottom: 10px
    margin-left: 10px
    background: rgba(201, 230, 242, 0.67)
    cursor: grab

  .button-container
    text-align: center

  button
    margin-left: 10px

  .score-container
    text-align: center
    margin-bottom: 20px

:local(.body)
  line-height: 1.4em
  margin-bottom: 20px
  .sentence-container
    border-radius: .3em
    padding-bottom: 20px
    padding-left: 10px
    padding-right: 10px

  .answered
    cursor: pointer

  .sentence-container:hover, .Droppable.over
    background: rgba(225, 221, 227, 0.47)

.correct-answer
  background: rgba(178, 246, 174, 0.23)

.wrong-answer
  background: rgba(255, 11, 11, 0.08)